* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background-color: lightgrey;
    margin: 0;
}

.image-banner {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.egg-picture {
    display: block;
    margin: auto;
    width: 30vw;
}

.home-title {
    font-weight: bold;
    font-size: 4vw;
    margin: 15px 0;
    text-align: center;
}

.welcome-message {
    font-size: 2.3vw;
    padding: 30px 40px;
    color: #454545;
    font-style: italic;
    text-align: center;
}

.egg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.egg {
    width: 8vw;
    height: 11vw;
    background: url('./egg.png');
    background-size: 100%;
    text-align: center;
}

.egg:hover {
    cursor: pointer;
}

.left-eggs {
    transform: rotate(30deg);
}

.left-eggs >* {
    transform: rotate(-30deg);
}

.right-eggs {
    transform: rotateY(180deg) rotate(30deg);
}

.right-eggs >* {
    transform: rotate(-30deg) rotateY(-180deg);
}

.egg-text {
    position: relative;
    top: 50%;
    font-size: 1.5vw;
}