* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     font-family: 'Playfair Display', serif;
}

:root {
    --block-background: rgba(0, 0, 0, 0.75);
}

body {
    background-color: lightgrey;
    background-image: url('./egg-background.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.main-bar {
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    height: 230px;
    align-items: center;
    background-color: var(--block-background);
    border-bottom: 1px solid rgb(110, 110, 110);
}

.home-title {
    font-style: italic;
    font-size: 4vw;
    padding: 28px 0;
    text-align: center;
    color: white;
}

.egg {
    width: 85px;
    height: 115px;
    background: url('./egg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #4b3d1e;
}

.egg:hover {
    cursor: pointer;
}

.left-eggs {
    transform: rotate(30deg);
}

.left-eggs:hover {
    transform: rotate(30deg) scale(1.05);
}

.left-eggs >* {
    transform: rotate(-30deg);
}

.right-eggs {
    transform: rotateY(180deg) rotate(30deg);
}

.right-eggs:hover {
    transform: rotate(-30deg) rotateY(-180deg) scale(1.02);
}

.right-eggs >* {
    transform: rotate(-30deg) rotateY(-180deg);
}

.egg-text {
    position: relative;
    top: 50%;
    font-size: 110%;
}

.block-container {
    width: min(100%, 700px);
    margin: 50px auto;
    background-color: var(--block-background);
    border: 1px solid rgb(110, 110, 110);
    color: white;
    font-size: 22px;
    padding: 50px;
}

.home-container {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    gap: 30px;
    justify-content: center;
}

.about-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.chef-pic {
    width: 400px;
    height: 300px;
    border-radius: 50%;
}

.info-text {
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.menu-item-container {
    background-color: rgba(0, 0, 0, 0.55);
    height: 290px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    justify-items: center;
}

.menu-item-container:hover {
    background-color: rgba(255, 253, 253, 0.119);
    cursor: pointer;
}

.menu-item-picture {
    height: 100%;
    width: 50%;
}

.menu-item-description {
    font-size: 15px;
    text-align: center;
}